In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(filepath_or_buffer ='heart_diease.csv',sep =',', header = 0,index_col = 0)
df.head()

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df = df.reset_index()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
info_df = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

#

In [5]:
df[df["age"]==df["age"].max()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0

#

In [6]:
df[df["age"]==df["age"].min()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1

In [17]:
pd.crosstab(df['exang'],df['target'], normalize = 0)

target         0         1
exang
0       0.303922  0.696078
1       0.767677  0.232323

In [18]:
df1 = df[['thalach']].select_dtypes(include=['float64'])
print(df.dtypes)

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [19]:
df1 = df[['thalach']].astype(float)
print(df1.dtypes)

thalach    float64
dtype: object

In [20]:
df[['thalach']].describe()

          thalach
count  303.000000
mean   149.646865
std     22.905161
min     71.000000
25%    133.500000
50%    153.000000
75%    166.000000
max    202.000000

In [21]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [22]:
df2 = df[['target']].dropna(axis=1) 
df2.head()

   target
0       1
1       1
2       1
3       1
4       1

In [23]:
df2.isna().sum()

target    0
dtype: int64

In [24]:
nb_modalité = df.value_counts(normalize=True)
nb_modalité

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
38   1    2   138       175   0    1        173      0      0.0      2      4   2     1         0.006601
77   1    0   125       304   0    0        162      1      0.0      2      3   2     0         0.003300
51   0    2   130       256   0    0        149      0      0.5      2      0   2     1         0.003300
              140       308   0    0        142      0      1.5      2      1   2     1         0.003300
     1    0   140       261   0    0        186      1      0.0      2      0   2     1         0.003300
                                                                                                  ...
59   1    0   138       271   0    0        182      0      0.0      2      0   2     1         0.003300
              140       177   0    1        162      1      0.0      2      1   3     0         0.003300
              164       176   1    0        90       0      1.0      1      2   1     0         0.003300
              170       326   0    0        140      1      3.4      0      0   3     0         0.003300
29   1    1   130       204   0    0        202      0      0.0      2      0   2     1         0.003300
Length: 302, dtype: float64

In [37]:
for x in df:
    print( x + ': ' + str(df[x].unique()))

age: [63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 69 59 42 61 40 71 51 65 53
 46 45 39 47 62 34 35 29 55 60 67 68 74 76 70 38 77]
sex: [1 0]
cp: [3 2 1 0]
trestbps: [145 130 120 140 172 150 110 135 160 105 125 142 155 104 138 128 108 134
 122 115 118 100 124  94 112 102 152 101 132 148 178 129 180 136 126 106
 156 170 146 117 200 165 174 192 144 123 154 114 164]
chol: [233 250 204 236 354 192 294 263 199 168 239 275 266 211 283 219 340 226
 247 234 243 302 212 175 417 197 198 177 273 213 304 232 269 360 308 245
 208 264 321 325 235 257 216 256 231 141 252 201 222 260 182 303 265 309
 186 203 183 220 209 258 227 261 221 205 240 318 298 564 277 214 248 255
 207 223 288 160 394 315 246 244 270 195 196 254 126 313 262 215 193 271
 268 267 210 295 306 178 242 180 228 149 278 253 342 157 286 229 284 224
 206 167 230 335 276 353 225 330 290 172 305 188 282 185 326 274 164 307
 249 341 407 217 174 281 289 322 299 300 293 184 409 259 200 327 237 218
 319 166 311 169 187 176 241 131]
fbs: [1 0]
restecg: [0 1 2]
thalach: [150 187 172 178 163 148 153 173 162 174 160 139 171 144 158 114 151 161
 179 137 157 123 152 168 140 188 125 170 165 142 180 143 182 156 115 149
 146 175 186 185 159 130 190 132 147 154 202 166 164 184 122 169 138 111
 145 194 131 133 155 167 192 121  96 126 105 181 116 108 129 120 112 128
 109 113  99 177 141 136  97 127 103 124  88 195 106  95 117  71 118 134
  90]
exang: [0 1]
oldpeak: [2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8 4.4]
slope: [0 2 1]
ca: [0 2 1 3 4]
thal: [1 2 3 0]
target: [1 0]

In [38]:
cat_feats=df[['sex', 'cp','fbs', 'restecg', 'exang','slope', 'ca', 'thal', 'target']]
cat_feats.head()

   sex  cp  fbs  restecg  exang  slope  ca  thal  target
0    1   3    1        0      0      0   0     1       1
1    1   2    0        1      0      0   0     2       1
2    0   1    0        0      0      2   0     2       1
3    1   1    0        1      0      2   0     2       1
4    0   0    0        1      1      2   0     2       1

In [39]:
num_feats = df[[ 'trestbps','chol','thalach','oldpeak']]
num_feats.head()

   trestbps  chol  thalach  oldpeak
0       145   233      150      2.3
1       130   250      187      3.5
2       130   204      172      1.4
3       120   236      178      0.8
4       120   354      163      0.6

In [40]:
cat_feats['ca'].mode()

0    0
dtype: int64

In [29]:
cat_feats['ca'].value_counts(normalize=True)

0    0.577558
1    0.214521
2    0.125413
3    0.066007
4    0.016502
Name: ca, dtype: float64

In [41]:
cat_feats['exang'].mode()

0    0
dtype: int64

In [42]:
cat_feats['exang'].value_counts(normalize=True)

0    0.673267
1    0.326733
Name: exang, dtype: float64