In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

# Ex 01 :
Calucle de temps :
distance = 750 km ; 
vitesse = 4.8 km/h

In [5]:
distance = 750 
vitesse = 4.8 
temps = 750/4.8
print (temps)

156.25

# EX02 :
calcule de temps, afficher le résultats en  jour et en heure

In [7]:
# Distance en km entre Paris et Marseille
distance = 750 

# Vitesse moyenne d'un marcheur en km/h
vitesse = 4.8

# Temps en heures qu'il faudrait pour aller de Paris à Marseille sans s'arrêter
temps = distance / vitesse

# Nombre de jours de marche
jours = temps // 24

# Nombre d'heures restantes

heures_restantes= temps % 24

print("Il faudrait au marcheur", jours, "jours et", heures_restantes, "heures.")

Il faudrait au marcheur 6.0 jours et 12.25 heures.

# EX03 : Théorème des nombres premiers 
def : Un nombre premier est un entier naturel qui admet exactement deux diviseurs distincts entiers et positifs. Ces deux diviseurs sont 1 et le nombre considéré, puisque tout nombre a pour diviseurs 1 et lui-même, les nombres premiers étant ceux qui ne possèdent pas d'autre diviseur.

In [18]:
nombres_premiers = [5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

x = nombres_premiers[0]

x = x*x
x = x + 17
x = x%12

print(x)

6

# EX04 :  
Le gouvernement a décidé de verser une prime covid-19 pour les salariés qui ont travailés durant cette périede, pour cela il a mis quelques conditions:

   a. avoir un salaire inférieru à 1200 eureos et une ancienté inferieur à 5 ans
   
   b. avoir un salaire entre 1500 et 2300 eureos et une ancienté supérieur à 10 ans
   
   c. avoir un salaire entre 1500 et 2300 euros inclus, et une ancienté entre ( 5 ans et 10 ans) inclus  
   
   Bernadette est éligible à la prime covid-19 ?

# Solution 01

In [61]:
anciennete = 12
salaire = 2400

x = anciennete
y = salaire
 
critere1 = x < 5 and y < 1500


critere2 = (5 <= x <= 10) and (1500 < y <= 2300)


critere3 = (x > 10) and (1500 < y or y > 2300)


print("Bernadette peut-elle toucher la prime?", critere1 or critere2 or critere3)

Bernadette peut-elle toucher la prime? True

# Solution 02

In [64]:
x =12
y =2400

if x < 5 and y < 1500:
    
  print("prime attribuée à bernadette.")
        
elif 5 <= x <=10 and 1500 < y <=2300:
  print("prime attribuée à bernadette.")

elif x > 10 and 1500< y <2300:
 print("prime attribuée à bernadette.")
else:
  print("prime attribuée à bernadette")

prime attribuée à bernadette

# Ex05 :
   boucle  if - elif - else

In [70]:
nombre = -2
if nombre >= 0:
        print ("nombre vaut 0.")
elif nombre > 0:
        print("ce nombre est strictement positif.")
else:
        print("ce nombre est strictement négatif.")

ce nombre est strictement négatif.

## EX 06 :
    Création d'un dataFrame avec trois produits, la quantité, la date d'expération.

# Solution 01

In [66]:
dictionnaire = {  "farine":{"prix_unité":3, "quantité":55, "date_d'expération":"25/09/2024"}, 
                  "miel":{ "prix_unité":2, "quantité":100, "date_d'expération":"08/08/2025"},  
                  "Vin":{ "prix_unité":10, "quantité":1800,"date_d'expération":"10/15/2023"} 
               }
# Instanciation d'un DataFrame 

df1 = pd.DataFrame(data = dictionnaire)
df1

                       farine        miel         Vin
prix_unité                  3           2          10
quantité                   55         100        1800
date_d'expération  25/09/2024  08/08/2025  10/15/2023

# Solution 02

In [67]:
dictionnaire = { 'produits':['Farine','miel','Vin'],
                'Farine': [3, 55, 25/9/2024], 
                'miel': [2, 100, 10/8/2025],
                'Vin': [10, 1800, 15/10/2023]
               }
              
# Instanciation d'un DataFrame 

df2 = pd.DataFrame(data = dictionnaire)
df2

  produits     Farine        miel          Vin
0   Farine   3.000000    2.000000    10.000000
1     miel  55.000000  100.000000  1800.000000
2      Vin   0.001372    0.000617     0.000741

# Solution 03

In [76]:
dictionnaire = {"Produit"          : ['miel', 'farine', 'vin'],
                "Date d'expiration": ['10/08/2025', '25/09/2024', '15/10/2023'],
                "Quantité"         : [100, 55, 1800], 
                "Prix à l'unité"   : [2, 3, 10]}

df3 = pd.DataFrame(dictionnaire)

df3

  Produit Date d'expiration  Quantité  Prix à l'unité
0    miel        10/08/2025       100               2
1  farine        25/09/2024        55               3
2     vin        15/10/2023      1800              10

# Ex07 : Manipulation des Nombres

In [72]:
# Deuxième question
n = 4
x = 3**(2*n + 1) + 2**(4*n + 2)
print(x%7 == 0)

n = 5
x = 3**(2*n + 1) + 2**(4*n + 2)
print(x%7 == 0)

n = 10
x = 3**(2*n + 1) + 2**(4*n + 2)
print(x%7 == 0)

True
True
True