# Inroduction :

SQLAlchemy est la boîte à outils Python SQL et Object Relational Mapper qui offre aux développeurs d'applications toute la puissance et la flexibilité de SQL.

In [404]:
import sqlite3, sqlalchemy
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

# Connexion :

Pour ce Tutoriel, nous utiliserons une base de données SQLite newIMBD.db. 
Pour se connecter, nous utilisons create_engine():

L' echo indicateur est un raccourci pour configurer la journalisation SQLAlchemy,

In [402]:
engine = create_engine('sqlite:///newIMDB.db', echo=True)

In [403]:
meta = MetaData()

# Définir et créer des tables :

In [381]:
Crew = Table(
   'Crew', meta, 
   Column('#title_id', String ,primary_key=True), 
   Column('#personne_id', String), 
   Column('category', String), 
   Column('job',String ),
   Column('caracters', String)
)

episodes = Table(
   'episodes', meta, 
   Column('episode_title_id', Integer), 
   Column('show_title_id', Integer), 
   Column('season_number', Integer),
   Column('episode_number', Integer)
)


people = Table(
   'people', meta, 
   Column('person_Id', String,primary_key=True), 
   Column('name', String), 
   Column('born', Integer),
   Column('died', Integer)
)

ratings = Table(
   'ratings', meta, 
   Column('#title_id', String,primary_key=True), 
   Column('rating', Integer), 
   Column('votes', Integer)
)

titles = Table(
   'titles', meta, 
   Column('title_id', String ,primary_key=True), 
   Column('type', String), 
   Column('primary_title', String ), 
   Column('original_title', String), 
   Column('is_adult', Integer),
   Column('premiered', Integer),
   Column('ended', Integer)

)
####################################################### Ces deux tables on les supprimes après !!

Facture = Table(
   'Facture', meta, 
   Column('FactureId', Integer, primary_key=True), 
   Column('#BoissonId', String, primary_key=True), 
   Column('Heure', String)
)

Boisson = Table(
   'Boisson', meta, 
   Column('BoissonId', Integer,primary_key=True), 
   Column('nom', String), 
   Column('Contenance', String),
   Column('Prix', Integer)
)

In [382]:
meta.create_all(engine)

2022-03-04 19:19:40,938 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-03-04 19:19:40,942 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:40,947 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-03-04 19:19:40,951 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:40,956 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Crew")
2022-03-04 19:19:40,959 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:40,966 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("episodes")
2022-03-04 19:19:40,972 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:40,977 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("people")
2022-03-04 19:19:40,981 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:40,987 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ratings")
2022-03-04 19:19:40,991 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:40,996 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("titles")
2022-03-04 19:19:41,003 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:41,013 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Facture")
2022-03-04 19:19:41,021 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:41,029 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boisson")
2022-03-04 19:19:41,033 INFO sqlalchemy.engine.base.Engine ()

In [383]:
from sqlalchemy import Sequence
Column('id', Integer, Sequence('Crew_id_seq'), primary_key=True)

Column('id', Integer(), table=None, primary_key=True, nullable=False, default=Sequence('Crew_id_seq'))

# Insérer des expressions :

In [384]:
values_1 = [(1, "Coca", "33","0.99"),
          (2, "Perrier", "100","2"),
          (3, "Perrier", "33","1"),
          (4, "Vittel", "150","1.50"),
          (5, "Badoit", "50","2")]

In [385]:
# Créer la connection
with engine.connect() as connection:
    # début de la transaction
    with connection.begin() as transaction:
        # on tente d'éxécuter une transaction
        try:
            # On indique le format d'un tuple de cette table
            markers = ','.join('?' * len(values_1[0])) 
            # On utilise le langage SQL en format texte où markers est le format d'un tuple
            ins = 'INSERT OR REPLACE INTO {tablename} VALUES ({markers})'
            # On précise ce format particulier grâce à la fonction membre format
            ins = ins.format(tablename=Boisson.name, markers=markers)
            # Enfin on peut utiliser les tuples créés en éxécutant la commande SQL
            connection.execute(ins, values_1)
        # si la transaction échoue
        except:
            transaction.rollback()
            raise
        # si la transaction réussit
        else:
            transaction.commit()

2022-03-04 19:19:45,083 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-03-04 19:19:45,089 INFO sqlalchemy.engine.base.Engine INSERT OR REPLACE INTO Boisson VALUES (?,?,?,?)
2022-03-04 19:19:45,092 INFO sqlalchemy.engine.base.Engine [(1, 'Coca', '33', '0.99'), (2, 'Perrier', '100', '2'), (3, 'Perrier', '33', '1'), (4, 'Vittel', '150', '1.50'), (5, 'Badoit', '50', '2')]
2022-03-04 19:19:45,099 INFO sqlalchemy.engine.base.Engine COMMIT

In [386]:
values_2 = [("1", "1", "7"), ("2", "1", "8"), ("3", "4", "12")]

In [387]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            markers = ','.join('?' * len(values_2[0])) 
            ins = 'INSERT OR REPLACE INTO {tablename} values ({markers})'
            ins = ins.format(tablename=Facture, markers=markers)
            connection.execute(ins, values_2)
        except:
            transaction.rollback()
            raise
        else:
            transaction.commit()

2022-03-04 19:19:48,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-03-04 19:19:48,661 INFO sqlalchemy.engine.base.Engine INSERT OR REPLACE INTO Facture values (?,?,?)
2022-03-04 19:19:48,663 INFO sqlalchemy.engine.base.Engine [('1', '1', '7'), ('2', '1', '8'), ('3', '4', '12')]
2022-03-04 19:19:48,672 INFO sqlalchemy.engine.base.Engine COMMIT

# Confirmation de l'enrigistrement :

In [388]:
with engine.connect() as connection:
    results = connection.execute("SELECT * FROM Facture;")
    print(results.fetchall())

2022-03-04 19:19:50,424 INFO sqlalchemy.engine.base.Engine SELECT * FROM Facture;
2022-03-04 19:19:50,456 INFO sqlalchemy.engine.base.Engine ()
[(1, '1', '7'), (2, '1', '8'), (3, '4', '12')]

In [389]:
with engine.connect() as connection:
    results = connection.execute("SELECT * FROM Boisson;")
    print(results.fetchall())

2022-03-04 19:19:51,731 INFO sqlalchemy.engine.base.Engine SELECT * FROM Boisson;
2022-03-04 19:19:51,737 INFO sqlalchemy.engine.base.Engine ()
[(1, 'Coca', '33', 0.99), (2, 'Perrier', '100', 2), (3, 'Perrier', '33', 1), (4, 'Vittel', '150', 1.5), (5, 'Badoit', '50', 2)]

# Suppression de la table boisson :

In [390]:
sql = text('DROP TABLE IF EXISTS Boisson;')
result = engine.execute(sql)

2022-03-04 19:19:53,554 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS Boisson;
2022-03-04 19:19:53,558 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:53,792 INFO sqlalchemy.engine.base.Engine COMMIT

# Suppression de la table Facture :

In [391]:
sql = text('DROP TABLE IF EXISTS Facture;')
result = engine.execute(sql)

2022-03-04 19:19:55,128 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS Facture;
2022-03-04 19:19:55,130 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:19:55,226 INFO sqlalchemy.engine.base.Engine COMMIT

# Exécution :

In [392]:
conn = engine.connect()

# Afficher les table de la base de données :

In [393]:
inspector = inspect(engine)

In [394]:
inspector.get_table_names()

2022-03-04 19:20:00,112 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-04 19:20:00,116 INFO sqlalchemy.engine.base.Engine ()

['Crew', 'episodes', 'people', 'ratings', 'titles']

# Afficher les clés prémaires des tables :

In [395]:
inspector.get_primary_keys(table_name='newIMDB.db')

2022-03-04 19:20:01,858 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-04 19:20:01,861 INFO sqlalchemy.engine.base.Engine ('newIMDB.db',)
2022-03-04 19:20:01,869 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("newIMDB.db")
2022-03-04 19:20:01,874 INFO sqlalchemy.engine.base.Engine ()
2022-03-04 19:20:01,880 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_xinfo("newIMDB.db")
2022-03-04 19:20:01,883 INFO sqlalchemy.engine.base.Engine ()

<ipython-input-395-323763cc05ee>:1: SADeprecationWarning: The Inspector.get_primary_keys() method is deprecated and will be removed in a future release.  Please refer to the Inspector.get_pk_constraint() method.
  inspector.get_primary_keys(table_name='newIMDB.db')

[]

# Afficher les différentes colonnes des tables de la base de données :

In [396]:
inspector.get_columns(table_name='Crew')

2022-03-04 19:20:06,481 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("Crew")
2022-03-04 19:20:06,485 INFO sqlalchemy.engine.base.Engine ()

[{'name': '#title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': '#personne_id',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'category',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'job',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'caracters',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [397]:
inspector.get_columns(table_name='episodes')

2022-03-04 19:20:11,093 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("episodes")
2022-03-04 19:20:11,097 INFO sqlalchemy.engine.base.Engine ()

[{'name': 'episode_title_id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'show_title_id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'season_number',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'episode_number',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [398]:
inspector.get_columns(table_name='people')

2022-03-04 19:20:13,397 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("people")
2022-03-04 19:20:13,403 INFO sqlalchemy.engine.base.Engine ()

[{'name': 'person_Id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'name',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'born',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'died',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [399]:
inspector.get_columns(table_name='ratings')

2022-03-04 19:20:16,056 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("ratings")
2022-03-04 19:20:16,059 INFO sqlalchemy.engine.base.Engine ()

[{'name': '#title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'rating',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'votes',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [400]:
inspector.get_columns(table_name='titles')

2022-03-04 19:20:18,272 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("titles")
2022-03-04 19:20:18,277 INFO sqlalchemy.engine.base.Engine ()

[{'name': 'title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'type',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'primary_title',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'original_title',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'is_adult',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'premiered',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ended',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

# Consclusion :

à présent vous avez les connaissances de base sur SQL, pour pouvez crééer des bases de données, les manipuler en faisant des changements, des vérifications, ajouter, supprimer des expressions. 

 - Afficher les tables d'une base de données.

 - Ajouter ou modifier la clé primaire d'une table

 - Lister les clés étrangères d'une base de données.

#