In [58]:
import sqlite3, sqlalchemy
from sqlalchemy import Table, Column, Integer, String, ForeignKey, MetaData, create_engine, text, inspect
from IPython.display import Markdown, display

# Création de la base de données :

In [59]:
engine = create_engine('sqlite:///college.db', echo=True)

In [60]:
meta = MetaData()

# Création de la table Students et Parcours:

In [61]:
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key=True), 
   Column('name', String), 
   Column('lastname', String),
)
 # meta.create_all(engine)
    
parcours = Table(
   'parcours', meta, 
   Column('id_parcours', Integer, primary_key=True), 
   Column('name', String), 
   Column('student_id', Integer, ForeignKey("students.id")),
)
meta.create_all(engine)

2022-03-03 14:37:55,659 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-03-03 14:37:55,662 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,667 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-03-03 14:37:55,669 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,673 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2022-03-03 14:37:55,675 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,681 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("students")
2022-03-03 14:37:55,683 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,685 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("parcours")
2022-03-03 14:37:55,688 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,692 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("parcours")
2022-03-03 14:37:55,695 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,701 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2022-03-03 14:37:55,705 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,834 INFO sqlalchemy.engine.base.Engine COMMIT
2022-03-03 14:37:55,838 INFO sqlalchemy.engine.base.Engine
CREATE TABLE parcours (
	id_parcours INTEGER NOT NULL,
	name VARCHAR,
	student_id INTEGER,
	PRIMARY KEY (id_parcours),
	FOREIGN KEY(student_id) REFERENCES students (id)
)


2022-03-03 14:37:55,840 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:37:55,923 INFO sqlalchemy.engine.base.Engine COMMIT

# Ajouter des données à la tables Students :

In [62]:
values = [(1, "Jean", "Dubois"), (2, "Florent", "Desbiolles")]
values

[(1, 'Jean', 'Dubois'), (2, 'Florent', 'Desbiolles')]

In [63]:
# Créer la connection
with engine.connect() as connection:
    # début de la transaction
    with connection.begin() as transaction:
        # on tente d'éxécuter une transaction
        try:
            # On indique le format d'un tuple de cette table
            markers = ','.join('?' * len(values[0])) 
            
            # On utilise le langage SQL en format texte où markers est le format d'un tuple
            ins = 'INSERT OR REPLACE INTO {tablename} VALUES ({markers})'
            
            # On précise ce format particulier grâce à la fonction membre format
            ins = ins.format(tablename=students.name, markers=markers)
           
            # Enfin on peut utiliser les tuples créés en éxécutant la commande SQL
            connection.execute(ins, values)
        # si la transaction échoue
        except:
            transaction.rollback()
            raise
        # si la transaction réussit
        else:
            transaction.commit()

2022-03-03 14:38:00,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-03-03 14:38:00,796 INFO sqlalchemy.engine.base.Engine INSERT OR REPLACE INTO students VALUES (?,?,?)
2022-03-03 14:38:00,799 INFO sqlalchemy.engine.base.Engine [(1, 'Jean', 'Dubois'), (2, 'Florent', 'Desbiolles')]
2022-03-03 14:38:00,804 INFO sqlalchemy.engine.base.Engine COMMIT

In [64]:
with engine.connect() as connection:
    results = connection.execute("SELECT * FROM students;")
    print(results.fetchall())

2022-03-03 14:38:02,713 INFO sqlalchemy.engine.base.Engine SELECT * FROM students;
2022-03-03 14:38:02,713 INFO sqlalchemy.engine.base.Engine ()
[(1, 'Jean', 'Dubois'), (2, 'Florent', 'Desbiolles')]

# Ajouter des données à la tables Parcours :

In [65]:
values_parcours = [(1, "Data engineering", 1),(2, "Data Science", 2) ]

In [66]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            markers = ','.join('?' * len(values_parcours[0]))
            ins = 'INSERT OR REPLACE INTO {tablename} VALUES ({markers})'
            
            ins = ins.format(tablename=parcours.name, markers=markers)
            connection.execute(ins, values_parcours)
        except:
            transaction.rollback()
            raise
        else:
            transaction.commit()

2022-03-03 14:38:05,550 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-03-03 14:38:05,555 INFO sqlalchemy.engine.base.Engine INSERT OR REPLACE INTO parcours VALUES (?,?,?)
2022-03-03 14:38:05,557 INFO sqlalchemy.engine.base.Engine [(1, 'Data engineering', 1), (2, 'Data Science', 2)]
2022-03-03 14:38:05,563 INFO sqlalchemy.engine.base.Engine COMMIT

In [67]:
with engine.connect() as connection:
    results = connection.execute("SELECT * FROM parcours;")
    print(results.fetchall())

2022-03-03 14:38:07,838 INFO sqlalchemy.engine.base.Engine SELECT * FROM parcours;
2022-03-03 14:38:07,840 INFO sqlalchemy.engine.base.Engine ()
[(1, 'Data engineering', 1), (2, 'Data Science', 2)]

# Supprission de la table students :

In [68]:
sql = text('DROP TABLE IF EXISTS students;')
result = engine.execute(sql)

2022-03-03 14:38:09,474 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS students;
2022-03-03 14:38:09,478 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:38:09,692 INFO sqlalchemy.engine.base.Engine COMMIT

# Supprission de la table parcours :

In [69]:
sql = text('DROP TABLE IF EXISTS parcours ;')
result = engine.execute(sql)

2022-03-03 14:38:10,936 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS parcours ;
2022-03-03 14:38:10,939 INFO sqlalchemy.engine.base.Engine ()
2022-03-03 14:38:11,132 INFO sqlalchemy.engine.base.Engine COMMIT